<section class="filter">
<h1>Creando filtro del tipo "{{ filter_type }}"</h1>
<form role="form" action="{{ url_for('portfolio.add_filter',name=p_name, filter_type=filter_type) }}" method="post">
	{% for field in fields %}
		<div class="form-group">
			<label for="{{ field.name }}">{{ field.description }}</label>
			<input type="{{ field.type }}" name="{{ field.name }}" class="form-control" placeholder="{{ field.description }}" {{ field.extra_params }}>
		</div>
		{% endfor %}
	<a href="{{ url_for('portfolio.view',name=p_name,uid=uid) }}" class="btn btn-default btn-lg">Cancel</a>
	<input type="submit" class="btn btn-lg btn-primary" value="Add filter">
</form>
</section>