{% if portfolio %}
<dl class="dl-horizontal">
	<dt>Compartido con</dt>
	<dd>{% if portfolio.users %}
			<ul class="list-inline">
			{% for u in portfolio.users %}
				<li>{{ u }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p class="info">No has compartido este portfolio con nadie.</p>
		{% endif%}
	</dd>
	<dt>Filtros</dt>
	<dd>
		<ul class="list-group">
			{% for f in portfolio.filters.values() %}
			<li class="list-group-item">
				{{ f.id }}
				{% if portfolio.owner==uid %}
					<a class="badge" href="{{ url_for('portfolio.del_filter', name=portfolio.name, filter_id=f.id) }}">Borrar</a>
				{% endif %}
			</li>
			{% endfor %}
			{% if portfolio.owner==uid %}
			<li class="list-group-item">
				{% with p_name=portfolio.name %}
					{% include 'portfolio/add_filter_selecttype.html' %}		
				{% endwith %}
			</li>
			{% endif %}
		</ul>
	</dd>
</dl>
{% else %}
	Portfolio '{{name}}' not found.
{% endif %}