body{
	margin: 5%;	
	background: rgb(240,240,240);
	font-family: arial;
}

.page{
	margin: 5%;
}

.main{
}

form {
	padding: 10%;
	border-radius: 20px;
	background: rgb(255,255,255);
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

form>*{
	display: table-cell;
}

table{
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	background: rgba(200, 200, 200, 0.5);
	margin-top: 2%;
}

th > td {
	background: rgba(200, 200, 200, 0.5);
}
