{%if uid %}
	Hi {{ uid }}, <a href="{{ url_for('logout') }}">log out</a>
{% else %}
	<section class="loginform cf">
	{% if action %}
		<form name="login" action="{{ action }}" method="post" accept-charset="utf-8">
	{% else %}
		<form name="login" action="/login" method="post" accept-charset="utf-8">
	{% endif %}
	{% if email %}
		<input type="email" name="email" placeholder="yourname@email.com"required>
	{% else %}
		<input type="email" name="email" placeholder="yourname@email.com"required value="{{ email }}">
	{% endif %}
		<input type="password" name="password" placeholder="password" required>
	{% block extra_inputs %}{% endblock %}
		<input type="submit" value="Login">
	</form>
	</section>
{% endif %}