{% if portfolio %}
	<article>
		<h1>
			<a href="{{ url_for('portfolios.view',name=portfolio.name) }}">{{ portfolio.name }}</a>
		</h1>
		<details>
			<span class="author">{{ portfolio.owner }}</span>
			<span class="market">{{ portfolio.market }}</span>
		</details>
		<section class="shared_with">
			<h2>Shared with</h2>
			{% if portfolio.users %}
				<ul>
				{% for u in portfolio.users %}
					<li>{{ u }}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p class="info">No has compartido este portfolio con nadie.</p>
			{% endif%}
			<a href="{{ url_for('portfolios.update',name=portfolio.name) }}">Puedes editarlo y compartirlo</a>
		</section>
		
		<section class="filters">	
			<h2>Filters</h2>
			<ul>
				{% for f in portfolio.filters %}
				<li>
					{{ f }} (<a href="{{ url_for('portfolios.del_filter',name=portfolio.name, filter=f.id) }}">Borrar filtro</a>)</li>
				{% endfor %}
				<li>
					{% with p_name=portfolio.name, %}
						{% include 'add_filter_selecttype.html' %}					
					{% endwith %}
				</li>
			</ul>
			
		</section>
	</article>
{% else %}
	Portfolio '{{name}}' not found.
{% endif %}